<ul class="nav">
   <li>
      <img class="logo" src="/assets/logo.png" alt="not working">
   </li>
   <li>
      <p class="logoText">TimeSheets IO</p>
   </li>
   <li class="nav-item">
      <a class="nav-link active" href="/home">Home</a>
   </li>
   <% if (user.admin) { %>
      <li class="nav-item">
         <a class="nav-link" href="/reports">Reports</a>
      </li>
   <% } %>
   <li class="nav-item">
      <a class="nav-link" href="#">Help</a>
   </li>
   <li class="nav-item name">
      <a id="userName" class="nav-link disabled" href="#"><%=user.name%></a>
   </li>
</ul>
