/** {
   border: .25px solid green;
}*/

.loginForm {
   width: 25%;
   margin-left: 1em;
   margin-top: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.loginFeild {
   margin-bottom: 0;
}

.newAccount {
   margin-top: 1em;
   width: 75%;
}

p {
   margin-bottom: 0px;
   line-height: 2;
   padding-left: 1em;
}

.row {
   margin-right: 0px;
   margin-left: 0px;
}

/*.form-group {
   align-items: center;
}*/

@media (min-width: 576px) {
   .editCont {
      padding-left: 0px;
   }
}
