/** {
   border: .25px solid green;
}*/

.loginForm {
   width: 25%;
   margin-left: 1em;
   margin-top: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.loginFeild {
   margin-bottom: 0;
}

.newAccount {
   margin-top: 1em;
   width: 75%;
}
