/** {
   border: .25px solid green;
}*/

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Montserrat');

body {
   background-image: url('../assets/fabric_of_squares_gray_@2X.png');
}

.loginForm {
   width: 25%;
   margin-left: 1em;
   margin-top: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.loginFeild {
   margin-bottom: 0;
}

.newAccount {
   margin-top: 1em;
   width: 75%;
}

p {
   margin-bottom: 0px;
   line-height: 2;
   padding-left: 1em;
}

.row {
   margin-right: 0px;
   margin-left: 0px;
}

/*.form-group {
   align-items: center;
}*/

.jumbotron {
   background-color: transparent;
}

.home {
   margin-bottom: 1em;
   font-family: 'Montserrat', sans-serif;
}

.tsFoot {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-image: url('../assets/grey_wash.png');
   border: 2px gray;
   margin: 3em 5em;
}

.tsSub {
   position: absolute;
   right: 2em;
   margin-bottom: 1em;
   /*margin: 0 auto;*/
}

.name {
   position: absolute;
   right: 2em;
}

.pageTitle {
   padding: 15px;
}

.logo {
   height: 2em;
   width: 2em;
   margin-top: 4px;
   margin-left: 4px;
}

.nav {
   background-image: url('../assets/grey_wash.png');
}

.nav-item, .nav-link {
   color: white;
}

.btn-dark {
   border: 2px solid white;
}

.logoText {
   font-family: 'Just Another Hand', cursive;
   font-size: 2rem;
   color: white;
   line-height: 1;
   transform: translate(-30px, 10px);
}

h1 {
   font-family: 'Montserrat', sans-serif;
}

#userName {
   color: #D1D1D1;
}

.welcome {
   margin-top: 2em;
}

@media (min-width: 576px) {
   .editCont {
      padding-left: 0px;
   }
}
