<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head.ejs %>
   </head>
   <body>
      <h1>Hello and Welcome to TimeSheets</h1>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href = '/timesheet/new';">New Time Sheet</button>
      <button type="button" class="btn btn-danger btn-lg btn-block" onclick="location.href = '/user/logout';">Log Out</button>
      <% include ../partials/scripts.ejs %>
   </body>
</html>
