<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head.ejs %>
   </head>
   <body>
      <ul class="nav">
         <li>
            <img class="logo" src="/assets/logo.png" alt="not working">
         </li>
         <li>
            <p class="logoText">TimeSheets IO</p>
         </li>
      </ul>
      <h1>Login</h1>
      <div class="loginForm">
         <form action="/user/login" method="post">
            <div class="form-group loginFeild">
               <label for="username">Username</label>
               <input class="form-control" id="username" placeholder="Enter Username" name="username" /> <br />
            </div>
            <div class="form-group loginFeild">
               <label for="password">Password</label>
               <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" /> <br />
            </div>
            <% if (message) { %>
               <p><%=message%></p>
            <% } %>
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
         <button type="button" class="btn btn-success newAccount" onclick="location.href = '/user/newUser';">Create New Account</button>
      </div>
      <% include ../partials/scripts.ejs %>
   </body>
</html>
