<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head.ejs %>
   </head>
   <body>
      <h1>New TimeSheet Page</h1>
      <% for (let row in timeRecs) { %>
       <div class="row">
         <div class="form-group col-md-3 mb-3">
            <p><%=timeRecs[row].prop%></p>
         </div>
         <div class="form-group col-md-3 mb-3">
            <p><%=timeRecs[row].act%></p>
         </div>
         <div class="form-group col-md-3 mb-3">
            <p><%=timeRecs[row].desc%></p>
         </div>
         <div class="form-group col-md-3 mb-3">
            <p><%=timeRecs[row].time%></p>
         </div>
       </div>
      <% } %>
      <form action="/timesheet/newTS" method="post" id="needs-validation" novalidate>
         <div class="row">
            <div class="form-group col-md-3 mb-3">
               <select class="form-control" name="prop" required>
                  <option selected>Property</option>
                  <option>Bronze Tree</option>
                  <option>Club A</option>
                  <option>Club B</option>
                  <option>Club C</option>
                  <option>Highmark</option>
                  <option>Ranch</option>
                  <option>West</option>
               </select>
            </div>
            <div class="form-group col-md-3 mb-3">
               <select class="form-control" name="act" required>
                  <option selected>Activity</option>
                  <option>Hot Tub</option>
                  <option>Building Maint</option>
                  <option>Snow Shovel</option>
                  <option>Snow Plow</option>
                  <option>Painting</option>
                  <option>Trash</option>
                  <option>Recycle</option>
               </select>
            </div>
            <div class="form-group col-md-3 mb-3">
               <input type="text" class="form-control" placeholder="Description" name="desc" required>
               <div class="invalid-feedback">
                  Please provide a comment.
               </div>
            </div>
            <div class="form-group col-md-3 mb-3">
               <input type="number" class="form-control" placeholder="Time" name="time" min="0" step=".25" required>
               <div class="invalid-feedback">
                  Provide Time or Round.
               </div>
            </div>
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <% include ../partials/scripts.ejs %>
   </body>
</html>
